body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    padding: 20px;
}

.match {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.match h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.match .coefficients {
    margin-bottom: 10px;
}

.match .coefficients label {
    display: block;
    margin-bottom: 5px;
}

.match .coefficients input {
    margin-bottom: 10px;
}

.match .player-bets {
    display: flex;
    flex-wrap: wrap;
}

.match .player {
    width: 45%;
    margin-bottom: 10px;
}

.match .player h4 {
    margin-top: 0;
}

.match .player label {
    display: block;
    margin-bottom: 5px;
}

.match .player input {
    width: calc(50% - 5px);
    margin-bottom: 5px;
}

.match button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.match button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.match button:hover {
    background-color: #45a049;
}
